@import "../../assets/styles/variables.scss";

.not-found {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: $light-background;
  color: $warning;

  h1 {
    margin-bottom: 7px;
    font-weight: 200;

    @media ($mobile-screen) {
      font-size: 20px;
    }
  }
}
