@import "../../assets/styles/variables.scss";

main {
  width: 100%;
  padding: 20px 15px;
  background-color: $dark-background;
  color: $light-font;

  @media ($mobile-screen) {
    padding: 15px 5px;
  }

  .basic-info-container {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .profile-pic-container {
      width: 185px;
      min-width: 185px;
      text-align: center;

      img {
        display: block;
        width: 185px;
        border: 2px groove $score;
        border-radius: 10px;
      }

      .profile-pic-placeholder {
        width: 185px;
        height: 275px;
        margin: 0 auto;
        border: 2px groove $score;
        border-radius: 10px;
        line-height: 275px;
        font-size: 17px;
        color: $warning;
      }
    }

    .basic-info {
      h2 {
        letter-spacing: 1px;
        text-align: left;
      }
    }
  }

  .additional-info {
    width: 100%;
    padding-bottom: 10px;

    .info {
      width: 100%;
      padding: 15px 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: left;
      border-bottom: 1px dashed $light-background;

      h4, p {
        margin: 0;
        padding: 5px 10px;
        font-size: 16px;
      }

      h4 {
        color: $score;
        width: 200px;
        min-width: 200px;
      }

      p {
        a {
          display: inline-block;
          margin-top: 10px;
          color: $score;
          font-size: 14px;
          text-decoration: underline;
          cursor: pointer;

          &:hover {
            color: $hover-font;
          }
        }
      }

      .movie-list {
        width: 100%;
        padding: 5px 10px;
        font-size: 16px;

        li {
          margin: 5px 0;
        }

        .movie-title {
          width: fit-content;
          min-width: 0;
          color: #00a452;
          cursor: pointer;

          &:hover {
            color: $hover-font;
          }
        }

        span {
          color: $score;
        }

        a {
          display: inline-block;
          margin: 10px 0;
          color: $score;
          text-decoration: underline;
          font-size: 14px;
          cursor: pointer;

          &:hover {
            color: $hover-font;
          }
        }
      }
    }
  }

  /* Styles for not found elements below */
  .not-found {
    width: 100%;
    text-align: center;

    h2 {
      color: $warning;

      @media ($mobile-screen) {
        font-size: 17px;
      }
    }

    p {
      color: $light-font;

      @media ($mobile-screen) {
        font-size: 14px;
      }
    }
  }
}
