@import "../../../assets/styles/variables.scss";

main {
  width: 100%;
  padding: 20px 15px;

  @media ($mobile-screen) {
    padding: 15px 5px;
  }

  .mat-expansion-panel-header {
    @media ($mobile-screen) {
      padding: 0 10px;
    }
  }

  .content {
    width: 100%;
    color: $dark-font;

    h3 {
      margin-bottom: 8px;
      color: $score;
    }

    p {
      font-size: 16px;

      @media ($mobile-screen) {
        font-size: 14px;
      }
    }
  }
}
