<app-loader *ngIf="seasons === undefined" ></app-loader>
<main *ngIf="seasons !== undefined" >
  <h1>Lista sezonów oraz dodatkowe informacje</h1>
  <div class="season-info-container" *ngFor="let season of seasons" >
    <span class="season-number"> {{ season.season_number }} </span>
    <h2> {{ season.name ? season.name : 'Brak nazwy' }} </h2>
    <mat-divider></mat-divider>
    <div class="overview">
      {{ season.overview ? season.overview : 'Przepraszamy, brak polskiego opisu :(' }}
    </div>
    <div class="episodes-info">
      <div>
        <span>Data publikacji:</span>
        <span> {{ (season.air_date !== null) ? (season.air_date | date:'dd-MM-yyyy') : 'Brak danych' }} </span>
      </div>
      <div>
        <span>Ilość odcinków:</span>
        <span> {{ (season.episode_count > 0) ? season.episode_count : 'Brak danych' }} </span>
      </div>
    </div>
  </div>
</main>
