@import "../../../assets/styles/variables.scss";

main {
  width: 100%;
  padding: 20px 15px;

  @media ($mobile-screen) {
    padding: 15px 5px;
  }

  h1 {
    text-align: center;
  }

  .season-info-container {
    width: 100%;
    position: relative;
    padding: 5px 10px 10px 50px;
    background-color: $light-background;
    color: $dark-font;
    border: 2px groove $score;
    margin-bottom: 15px;

    .season-number {
      display: inline-block;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      background-color: $score;
      color: $dark-font;
      font-weight: bold;
    }

    h2 {
      margin: 0 0 5px 0;
    }

    .overview {
      width: 100%;
      padding: 10px 0;
    }

    .episodes-info {
      width: 100%;
      padding: 10px 0;

      span {
        display: inline-block;
        padding: 5px;

        &:first-child {
          letter-spacing: 1px;
          margin-right: 10px;
        }
      }
    }
  }
}
