@import "../../assets/styles/variables.scss";

.search-bar-container {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  h2 {
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;
  }

  form {
    display: flex;
    justify-content: center;
    align-content: flex-start;

    label {
      display: inline-block;
      width: 300px;

      @media ($mobile-screen) {
        width: 200px;
      }
    }

    .search-bar {
      font-size: 15px;
      padding: 10px 5px;
      width: 100%;

      @media ($mobile-screen) {
        font-size: 13px;
      }
    }

    small {
      display: block;
      color: $warning;
      letter-spacing: 1px;
      margin: 5px 0 5px 5px;
    }

    .invalid {
      border: 1px solid $warning;
    }

    button {
      border: 1px $dark-background solid;
      margin-left: 10px;

      &:hover {
        background-color: $hover-font;
      }
    }
  }
}
