<!-- Navbar -->
<div class="navbar">
  <div class="logo-container">
    <div class="logo" [routerLink]="links[0].link"></div>
  </div>
  <div class="links-container">
    <div *ngIf="!isSmallScreen; else showMenuIcon">
      <a *ngFor="let link of links" [routerLink]="link.link">{{ link.title }}</a>
    </div>
    <ng-template #showMenuIcon>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </ng-template>
  </div>
</div>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav class="sidenav" mode="over" position="end" fixedInViewport>
    <div class="link-container" *ngFor="let link of links">
      <a [routerLink]="link.link" (click)="sidenav.toggle()">{{ link.title }}</a>
    </div>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content class="main-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
