<app-search-bar></app-search-bar>
<app-loader *ngIf="showLoader"></app-loader>
<div class="details-container">
  <div class="poster-container">
    <img [src]="posterBasicUrl + movie.poster_path" alt="Plakat filmowy" />
  </div>
  <div class="info-container">
      <h2> {{ movie.title }} </h2>
      <h4> Oryginalny tytuł: {{ movie.original_title }} </h4>
      <mat-tab-group mat-align-tabs="center" dynamicHeight="true">
        <mat-tab label="Informacje">
          <div class="content-container">
            <div>
              <h4>Kraj produkcji</h4>
              <span> {{ movie.production_countries[0].name }} </span>
            </div>
            <div>
              <h4>Oryginalny język</h4>
              <span> {{ movie.original_language }} </span>
            </div>
            <div>
              <h4>Data publikacji</h4>
              <span> {{ movie.release_date }} </span>
            </div>
            <div>
              <h4>Czas trwania</h4>
              <span> {{ movie.runtime }} minut </span>
            </div>
            <div>
              <h4>Popularność</h4>
              <span> {{ movie.popularity }} </span>
            </div>
            <div>
              <h4>Gatunki</h4>
              <div class="genres">
                <span *ngFor="let genre of movie.genres" > {{ genre.name }} </span>
              </div>
            </div>
            <div>
              <h4>Firmy produkcyjne</h4>
              <div class="genres">
                <span *ngFor="let companie of movie.production_companies" > {{ companie.name }} </span>
              </div>
            </div>
            <div>
              <h4>Status</h4>
              <span> {{ movie.status }} </span>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Opis">
          <div class="content-container">
            <p class="description"> {{ movie.overview }} </p>
          </div>
        </mat-tab>
        <mat-tab label="Ocena">
          <div class="content-container">
            <div>
              <h4>Średnia ocen</h4>
              <div class="genres">
                <div class="score"> {{ movie.vote_average }} </div>
              </div>
            </div>
            <div>
              <h4>Ilość oddanych głosów</h4>
              <span> {{ movie.vote_count }} </span>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
  </div>
</div>
