<app-search-bar></app-search-bar>
<app-loader *ngIf="showMainLoader"></app-loader>
<div *ngIf="allLoaded"  class="details-container">
  <div class="poster-container">
    <img [src]="posterBasicUrl + movie.poster_path" alt="Plakat filmowy" />
  </div>
  <div class="info-container">
      <h2> {{ movie.title }} </h2>
      <h4> Oryginalny tytuł: {{ movie.original_title }} </h4>
      <mat-tab-group mat-align-tabs="center" dynamicHeight="true">
        <mat-tab label="Informacje">
          <div class="content-container">
            <div>
              <h4>Kraj produkcji</h4>
              <span> {{ movie.production_countries[0].name }} </span>
            </div>
            <div>
              <h4>Oryginalny język</h4>
              <span> {{ movie.original_language }} </span>
            </div>
            <div>
              <h4>Data publikacji</h4>
              <span> {{ movie.release_date }} </span>
            </div>
            <div>
              <h4>Czas trwania</h4>
              <span> {{ movie.runtime }} minut </span>
            </div>
            <div>
              <h4>Popularność</h4>
              <span> {{ movie.popularity }} </span>
            </div>
            <div>
              <h4>Gatunki</h4>
              <div class="genres">
                <span *ngFor="let genre of movie.genres" > {{ genre.name }} </span>
              </div>
            </div>
            <div>
              <h4>Firmy produkcyjne</h4>
              <div class="genres">
                <span *ngFor="let companie of movie.production_companies" > {{ companie.name }} </span>
              </div>
            </div>
            <div>
              <h4>Status</h4>
              <span> {{ movie.status }} </span>
            </div>
            <div>
              <h4>Budżet</h4>
              <span> {{ movie.budget }} </span>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Opis">
          <div class="content-container">
            <p class="description"> {{ movie.overview }} </p>
          </div>
        </mat-tab>
        <mat-tab label="Ocena">
          <div class="content-container">
            <div>
              <h4>Średnia ocen</h4>
              <div class="genres">
                <div class="score"> {{ movie.vote_average }} </div>
              </div>
            </div>
            <div>
              <h4>Ilość oddanych głosów</h4>
              <span> {{ movie.vote_count }} </span>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
  </div>
</div>
<div class="additional-info">
  <div class="cast-container">
    <h3>Obsada</h3>
    <button *ngIf="movieCast.length === 0" (click)="loadCast()" mat-stroked-button>Wyświetl</button>
    <app-loader *ngIf="showCastLoader"></app-loader>
    <div class="list-container" *ngIf="movieCast.length > 0" >
      <div class="item" *ngFor="let person of movieCast" >
        <img *ngIf="person.profile_path !== null; else showImagePlaceholder"
        [src]="profileImageBasicUrl + person.profile_path"/>
        <ng-template #showImagePlaceholder>
          <div class="image-placeholder">
            <mat-icon>face</mat-icon>
          </div>
        </ng-template>
        <h4> {{ person.name }} </h4>
      </div>
    </div>
  </div>
  <div class="video-container">
    <h3>Zwiastun</h3>
    <button *ngIf="movieVideos.length === 0"  (click)="loadMovies()" mat-stroked-button>Wyświetl</button>
    <app-loader *ngIf="showVideoLoader"></app-loader>
    <div *ngIf="movieVideos.length > 0" >
      <div class="item-container" *ngFor="let video of movieVideos">
        <h4> {{ video.name }} </h4>
        <iframe width="560" height="315" [src]="'https://www.youtube.com/embed/' + video.key | safe" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
<div *ngIf="notFound" class="not-found">
  <h2>Nie znaleziono filmu o podanym ID</h2>
  <a routerLink="/">Wróć na stronę główną</a>
</div>
