<app-search-bar></app-search-bar>
<div class="details-container">
  <div class="poster-container">
    <img [src]="'http://image.tmdb.org/t/p/w342/tTTcCh8fmYxvw8GbSeECBlY1UwC.jpg'" alt="Plakat filmowy" />
  </div>
  <div class="info-container">
      <h2>Tyler Rake - Ocalenie</h2>
      <h4>Oryginalny tytuł: Extraction</h4>
      <mat-tab-group mat-align-tabs="center" dynamicHeight="true">
        <mat-tab label="Informacje">
          <div class="content-container">
            <div>
              <h4>Kraj produkcji</h4>
              <span>Stany Zjednoczone</span>
            </div>
            <div>
              <h4>Oryginalny język</h4>
              <span>Angielski</span>
            </div>
            <div>
              <h4>Data publikacji</h4>
              <span>24.05.2020</span>
            </div>
            <div>
              <h4>Czas trwania</h4>
              <span>114 minut</span>
            </div>
            <div>
              <h4>Popularność</h4>
              <span>356 790</span>
            </div>
            <div>
              <h4>Gatunki</h4>
              <div class="genres">
                <span>Dramat</span>
                <span>Akcja</span>
                <span>Thriller</span>
              </div>
            </div>
            <div>
              <h4>Firmy produkcyjne</h4>
              <div class="genres">
                <span>Marvel</span>
                <span>DC</span>
              </div>
            </div>
            <div>
              <h4>Status</h4>
              <span>Wydany</span>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Opis">
          <div class="content-container">
            <p class="description">Doświadczony najemnik jedzie do Bangladeszu, by odnaleźć porwanego syna barona narkotykowego. Ta z pozoru zwykła misja szybko zmienia się w desperacką walkę o życie. Główną rolę w tym thrillerze gra Chris Hemsworth. Towarzyszą mu Rudhraksh Jaiswal, Randeep Hooda i Golshifteh Farahani.</p>
          </div>
        </mat-tab>
        <mat-tab label="Ocena">
          <div class="content-container">
            <div>
              <h4>Ocena ogólna</h4>
              <div class="genres">
                <div class="score">8</div>
              </div>
            </div>
            <div>
              <h4>Ilość oddanych głosów</h4>
              <span>370 856</span>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
  </div>
</div>
