// Colors
$website-background:#41403d;
$dark-background: #202020;
$light-background: #ebebeb;
$dark-font: #1f1f1f;
$light-font: #f0f0f0;
$hover-font: #ff3d3d;
$warning: #d31616;
$score: #ff7a22;

// Screen sizes
$mobile-screen: "max-width: 768px";
$tablet-screen: "max-width: 992px";
