<div class="search-bar-container">
  <h2>Wyszukiwarka Movie Lib</h2>
  <app-search-bar></app-search-bar>
</div>
<div class="trending-container">
  <div class="today">
    <h3>Popularne dzisiaj</h3>
    <mat-divider></mat-divider>
    <div class="movies-list">
      <mat-card class="item-container">
        <img mat-card-image />
        <mat-card-content class="basic-info-container">
          <h3>Tytuł filmu</h3>
          <div class="rating-container">
            <span>Ocena ogólna</span>
            <div class="score">7.5</div>
          </div>
        </mat-card-content>
        <mat-card-actions class="btn-container">
          <a>Więcej szczegółów</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="week">
    <h3>Popularne w tym tygodniu</h3>
    <mat-divider></mat-divider>
    <div class="movies-list">
      <mat-card class="item-container">
        <img mat-card-image />
        <mat-card-content class="basic-info-container">
          <h3>Tytuł filmu</h3>
          <div class="rating-container">
            <span>Ocena ogólna</span>
            <div class="score">7.5</div>
          </div>
        </mat-card-content>
        <mat-card-actions class="btn-container">
          <a>Więcej szczegółów</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
