<app-search-bar></app-search-bar>
<main>
  <div class="introduction">
    <div class="logo-container">
      <img src="assets/images/movie-lib-logo.svg" alt="Logo witryny Movie-Lib" />
      <mat-icon>add</mat-icon>
      <img src="assets/images/tmdb-logo.svg" alt="Logo witryny Movie-Lib" />
    </div>
    <div class="description-container">
      <p>
        <span class="important">Movie-Lib</span> to miejsce, gdzie możesz znaleźć informacje na temat interesujących Cię filmów, seriali lub aktorów.
        <br />
        <br />
        W tym celu wykorzystujemy dane udostępniane przez <a href="https://www.themoviedb.org/">The Movie Database</a>.
      </p>
      <div class="important-message-container">
        <small><q>This product uses the TMDb API but is not endorsed or certified by TMDb.</q></small>
      </div>
      <div>
        Znajdziesz tutaj:
        <ul>
          <li>
            <span class="important">Wyszukiwarkę</span>, z której możesz korzystać, z niemalże każdego miejsca na naszej witrynie
          </li>
          <li>
            Możliwość <span class="important">odkrywania</span> filmów oraz seriali. (zakładka "Filmy i seriale")
          </li>
          <li>
            <span class="important">Szczegółowe informacje</span> na temat wybranego filmu, serialu lub aktora. Należą do nich między innymi krótkie informacje o sezonach, obsadzie, powiązanych filmach lub ocenie ogólnej (według społeczności <span class="important">The Movie Database</span>)
          </li>
          <li>
            <span class="important">Recenzje</span>, lecz jedynie w języku angielskim.
          </li>
        </ul>
        <div class="important-message-container">
          <small>
            Staramy się wyświetlać informacje w języku polskim, wszędzie gdzie tylko jest to możliwe.
          </small>
        </div>
      </div>
    </div>
  </div>
</main>
