<div class="search-bar-container">
  <h2>Wyszukiwarka Movie Lib</h2>
  <app-search-bar></app-search-bar>
</div>
<div class="trending-container">
  <div class="today">
    <h3>Popularne dzisiaj</h3>
    <mat-divider></mat-divider>
    <div class="movies-list">
      <app-loader *ngIf="showDailyMoviesLoader"></app-loader>
      <mat-card class="item-container" *ngFor="let movie of dailyTrendingMovies">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path"
        alt="Obrazek przedstawiający film" mat-card-image />
        <mat-card-content class="basic-info-container">
          <h3> {{ movie.title }} </h3>
          <div class="rating-container">
            <span>Ocena ogólna</span>
            <div class="score"> {{ movie.vote_average }} </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="btn-container">
          <a>Więcej szczegółów</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="week">
    <h3>Popularne w tym tygodniu</h3>
    <mat-divider></mat-divider>
    <div class="movies-list">
      <app-loader *ngIf="showWeeklyMoviesLoader"></app-loader>
      <mat-card class="item-container" *ngFor="let movie of weeklyTrendingMovies">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path"
        alt="Obrazek przedstawiający film" mat-card-image />
        <mat-card-content class="basic-info-container">
          <h3> {{ movie.title }} </h3>
          <div class="rating-container">
            <span>Ocena ogólna</span>
            <div class="score"> {{ movie.vote_average }} </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="btn-container">
          <a>Więcej szczegółów</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
