@import "../../assets/styles/variables.scss";

main {
  width: 100%;
  min-height: calc(100vh - 283px);
  background-color: $dark-background;

  .introduction {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-weight: 300;

    .logo-container {
      width: 40%;
      padding: 15px;
      text-align: center;

      @media ($mobile-screen) {
        width: 100%;
        padding: 15px 0 0 0;
      }

      img {
        width: 60%;
        display: block;
        margin: 15px auto;

        @media ($mobile-screen) {
          width: 40%;
        }
      }

      .mat-icon {
        font-size: 30px;
        color: $score;
      }
    }

    .description-container {
      padding: 15px 10px;
      width: 60%;
      color: $light-font;
      font-size: 17px;
      line-height: 25px;

      @media ($mobile-screen) {
        width: 100%;
        padding: 15px 20px;
      }

      .important {
        color: $score;
      }

      p {
        margin-top: 15px;
        margin-bottom: 0;

        @media ($mobile-screen) {
          margin-top: 0;
        }

        small {
          color: $warning;
          display: block;
          text-align: center;

          @media ($mobile-screen) {
            margin-top: 10px;
          }
        }

        a {
          text-decoration: underline;
          color: $score;
          font-weight: 400;

          &:hover {
            color: $hover-font;
          }
        }
      }

      div {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .important-message-container {
        border-top: none;
        padding: 7px;
        margin: 5px 0;
        text-align: justify;
        background-color: rgba(255, 163, 70, 0.8);
        border-left: 10px solid $score;
        border-radius: 15px;

        small {
          color: $dark-font;
        }
      }
    }
  }
}
