<main>

  <!-- Discover form container -->
  <div class="options-container">
    <h1>Odkrywaj seriale</h1>
    <form [formGroup]="discoverForm" novalidate autocomplete="off" (ngSubmit)="submit()">
      <div class="option">
        <mat-form-field>
          <mat-label>Od daty emisji</mat-label>
          <select matNativeControl formControlName="primaryYear">
            <option value="">Dowolny</option>
            <option *ngFor="let year of availableYears" [value]="year">
              {{ year }}
            </option>
          </select>
        </mat-form-field>
      </div>
      <div class="option">
        <mat-form-field>
          <mat-label>Sortuj</mat-label>
          <select matNativeControl formControlName="sortMethod">
            <option value="popularity.desc">Popularność - max</option>
            <option value="popularity.asc">Popularność - min</option>
            <option value="first_air_date.desc">Pierwsza emisja - max</option>
            <option value="first_air_date.asc">Pierwsza emisja - min</option>
            <option value="vote_average.desc">Średnia ocen - max</option>
            <option value="vote_average.asc">Średnia ocen - min</option>
          </select>
        </mat-form-field>
      </div>
      <div class="option full-width">
        <h3>Gatunki</h3>
        <mat-divider></mat-divider>
        <div class="genres-list animate__animated">
          <mat-checkbox class="checkbox" *ngFor="let genre of genresList" formArrayName="genres"
          [value]="genre.id" (change)="onCheckboxChange($event)">
            {{ genre.name }}
          </mat-checkbox>
        </div>
      </div>
      <div class="btn-container">
        <button mat-stroked-button type="submit">Odkryj</button>
      </div>
    </form>
  </div>

  <app-loader *ngIf="visibleLoader"></app-loader>

  <!-- Discover results container -->
  <div class="content-container" *ngIf="tvList.length > 0; else noResults" #content>
    <h3 class="page-count">Strona {{ pageNumber }} / {{ totalPageCount }}</h3>
    <div class="item-container" *ngFor="let tv of tvList; let i = index">
      <span class="title" [routerLink]="['/tv', tv.id]"> {{ tv.name ? tv.name : 'Brak danych' }} </span>
      <div class="poster-container">
        <img *ngIf="tv.poster_path !== null"
        [src]="'https://image.tmdb.org/t/p/w185' + tv.poster_path" [routerLink]="['/tv', tv.id]" />
        <span *ngIf="tv.poster_path === null">Brak plakatu</span>
      </div>
      <div class="basic-info">
        <div class="info">
          <h3>Data pierwszej emisji</h3>
          <p>
            {{ (tv.first_air_date.length === 10) ?
            (tv.first_air_date | date:'dd-MM-yyyy') : 'Brak danych lub błędny format' }}
          </p>
        </div>
        <div class="info">
          <h3>Opis</h3>
          <p *ngIf="tv.overview.length > 0" > {{ tv.overview }} </p>
          <a *ngIf="tv.overview.length === 0" (click)="loadOverview(tv.id, i)" >Wyświetl wersję angielską</a>
        </div>
        <div class="info">
          <h3>Średnia ocen</h3>
          <p> {{ tv.vote_average ? tv.vote_average : 'Brak danych' }} </p>
        </div>
        <div class="info">
          <h3>Ilość oddanych głosów</h3>
          <p> {{ tv.vote_count ? tv.vote_count : 'Brak danych' }} </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Buttons to navigate between pages -->
  <div class="page-control-container" *ngIf="tvList.length > 0">
    <h3>Strona {{ pageNumber }} / {{ totalPageCount }}</h3>
    <button mat-stroked-button (click)="prev()">Poprzednia strona</button>
    <button mat-stroked-button (click)="next()">Następna strona</button>
  </div>

  <ng-template #noResults>
    <div class="no-results">
      <h2>Brak wyników</h2>
    </div>
  </ng-template>
</main>
